body {
        display: flex;
        flex-direction: column;
        align-items: center;
          background-color: #000000;
          font-family: Verdana, Arial;
          font-size: 1em;
          color: #000000;
          background-image: url("hintergrund.jpg");
          background-repeat: round;
          text-align: center;
		  
  
  }
#sidebar {
        height: 100vh;
        width: 15%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #D0D3D4; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
	border-style:solid;
	border-color:#000000;
	border-width: 10%;
        
}

 #wrapper{
        width: 70%;
        height: 100vh;
        padding: 5px;
        margin-left: 15%;
}

#LOGO{
		width:70%;
		margin-left: 15%;
		
}
  
#mapid {
        height:80%;
        width:100%;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}
